<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Live Streaming Demonstration</title>
</head>
<body>
<div>
<center>
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <!-- <div class="col-sm"> -->
            <h3 class="mt-5">Live Streaming Demonstration</h3>
            <img src="{{ url_for('cam_feed') }}" width="60%">
            </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
    <a href="{{ url_for('stopCam') }}">StopCam</a> 
        </div>
    </div>
</center>
</div>
</body>
</html>