<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Get IP</title>
</head>
<body>
    <br>
    <br>
    <center>
        <form method="POST" enctype="multipart/form-data">
            <p>Enter Ip:port to connect with </p> <input type="text" name="ip" id="ip" class="input" style="text-align: center;" ><br><br>
            <input type="submit" value="submit" id="submit" name="submit">
        </form>
        {{message}}
    </center>
    <br>
    <br>
    For this purpose, install IP Webcamera available on playstore
    <a href="https://play.google.com/store/apps/details?id=com.pas.webcam&hl=en_IN">Download</a> this application
    for using mobile camera, make sure camera and server both are connected to same network.
    <br>
    Example, 192.168.1.7:8080
</body>
</html>