<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Get IP</title>
</head>
<body>
    <br>
    <br>
    <center>
        <form method="POST" enctype="multipart/form-data">
            <p>Enter Ip:port to connect with </p> <input type="text" name="ip" id="ip" class="input" style="text-align: center;" ><br><br>
            <input type="submit" value="submit" id="submit" name="submit">
        </form>
        {{message}}
    </center>
    <br>
    <br>
    For this purpose, install IP Webcamera available on playstore
    <a href="https://play.google.com/store/apps/details?id=com.pas.webcam&hl=en_IN">Download</a> this application
    for using mobile camera, make sure camera and server both are connected to <b>same network.</b>
    <br><center>
    Example, 192.168.1.7:8080 </center>
    <br>
    <center>
        Instructions to connect IP Webcam to server
        <br>
        <br>
        1) Open IP Webcam application and scroll Down to bottom
        <br>
        <br>
        2) click on start server then camera will get started
        <br>
        <br>
        3) IPv4 address will be shown there, consider only ip and port number
        <br>
        <br>
        4) Write it in input box of this site and click submit
        <br>
        <small>If you are connect to same network it will work</small>
        <br>
        <br>
        5) To stop streaming android camera, click actions then click stop
        <br>
        <small>this will stop streaming, video will be stoped</small>

    </center>
</body>
</html>