
*{
  width: 100%;

}

h1 {text-align: center; color:darkblue; font-family: verdana;}

a:link, a:visited {
  background-color: dodgerblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  transition-duration: 0.4s;
}

a:hover, a:active {
  background-color: purple;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}

#div1 {background-color: deeppink; text-align: center;
        padding: 14px 25px;
        /*margin: 20px;*/
        border-radius: 20px;
        width: 60%;
        animation: myfirst 10s linear 2s infinite alternate;
        align-content: center;
        align-self: center;
}

@keyframes myfirst {
  0%   {background-color:aqua;}
  25%  {background-color:lightgoldenrodyellow;}
  50%  {background-color:lightgreen;}
  75%  {background-color:lightseagreen;}
  100% {background-color:lightyellow;}
}

/*body {background-image: linear-gradient(to bottom right,black,gray); font-family: verdana;}*/

pre {
  font-family: cursive

}

#special {font-family: verdana; font-size: 20px; font-style: oblique; font-weight: bold;}
#specialdiv {background-color: lightcoral; text-align: center;
        padding: 14px 25px;
        margin: 20px;
        border-radius: 20px;
        position: relative;
        animation: mysecond 8s linear 2s infinite alternate;}
@keyframes mysecond {
  0%   {left: 0px; top: 0px;}
  25%  {left: 200px; top: 0px;}
  50%  {left: 300px; top: 0px;}
  75%  {left: 400px; top: 0px;}
  100% {left: 0px; top: 0px;}
}

body {
background-color: lightblue;
padding: 0;
margin: 0;

}
